{% extends 'base.html' %}

{% load static %}
{#{% block style %}#}
{#    <link href="{% static 'plugins/datatables/media/css/dataTables.bootstrap.css' %}" rel="stylesheet">#}
{#    <link href="{% static 'plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css' %}"#}
{#          rel="stylesheet">#}
{#{% endblock %}#}
{# {% block pageTitle %}Historias CLínicas{% endblock %}#}
{# {% block titulo %}Historias CLínicas{% endblock %}#}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-body ">


            </div>
        </div>
    </div>
{% endblock %}

{#{% block javascripts %}#}
{#    <script src="{% static 'plugins/datatables/media/js/jquery.dataTables.js' %}"></script>#}
{#    <script src="{% static 'plugins/datatables/media/js/dataTables.bootstrap.js' %}"></script>#}
{#    <script src="{% static 'plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>#}
{#    <script src="{% static 'js/pages/historias/datatable.js' %}"></script>#}
{#{% endblock %}#}
